// Custom styles.
@media screen and (min-width:1200px) {

    body {
    background-image:url(/images/backGround3.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%; 
    }

    #footer a {
        color:#eee;
    }
}

.post {
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 10px;
   border-radius:12px;
   -webkit-box-shadow:0 0 10px rgba(100, 100, 100, .5);  
   -moz-box-shadow:0 0 10px rgba(100, 100, 100, .5);  
   box-shadow:0 0 10px rgba(100, 100, 100, .5);  
  }
